@charset "utf-8";
/*reset*/
body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,button,select{margin:0;padding:0;}
body,input,textarea,select,button,table{font-size:14px;line-height:1.25em;}
body{min-width:320px;font-size:14px;font-family:'PingFang SC Medium','microsoft yahei',Verdana,Arial,Helvetica,sans-serif;color:#333;-webkit-text-size-adjust:none;-webkit-user-select:none;-webkit-tap-highlight-color:transparent;}
table{border-collapse:collapse;border-spacing:0}
fieldset,img,button {border:0;}
li{list-style:none}
a{text-decoration:none;outline:none}
img{vertical-align:middle}
h1,h2,h3,h4,h5,h6,input,textarea,select,button{font-size:100%}
::-webkit-input-placeholder{color:#bbb;}
input[type="text"],input[type="number"],input[type="password"]{-webkit-appearance:none;border-radius:0;}
em,i{font-style:normal}
body,html{width:100%; height:100%; margin:0 auto;}
.hide{display: none;}
/*flex*/
.l-scroll-y{overflow: auto;-webkit-overflow-scrolling:touch;}
.l-full{ position: absolute; top:0; left:0; right:0; bottom:0 }
.l-relative{ position:relative;}
.l-box-center{display:-webkit-box; -webkit-box-align: center; -webkit-box-pack: center;display:flex;justify-content: center;align-items: center;  }
.l-flex-column{ display:-webkit-box; -webkit-box-orient: vertical; display:flex; flex-flow: column;height: 100% }
.l-flex-row{ display:-webkit-box; -webkit-box-orient: horizontal; display:flex; flex-flow: row; width: 100%}
.l-flex-1{ -webkit-box-flex: 1; flex:1;overflow: hidden}
.l-flex-2{ -webkit-box-flex: 2; flex:2;overflow: hidden}
.l-flex-3{ -webkit-box-flex: 3; flex:3;overflow: hidden}
.share-wrap{width: 100%;height:16.08rem;  background:#fff url(../images/share-bg.jpg) no-repeat;
background-size: cover; background-position: center;}
.share-cont{ padding-top: 0.9333rem;}
/*.share-cont{ padding:0.8533rem 0.7333rem 0 0.7333rem; }*/
.user-speak{ overflow: hidden;width:8.9867rem;  height: 1.4667rem; margin: 0 auto;}
.first-yin{ display:inline-block;width: 0.2267rem;height: 0.2rem;background:url(../images/first-yin.png) no-repeat;
background-size: cover; position: relative;bottom: 0.13rem;margin-right:0.2rem}
.last-yin{ display:inline-block;width: 0.2267rem;height: 0.2rem;
	background:url(../images/last-yin.png) no-repeat;
background-size: cover;position: relative;bottom: 0.13rem; margin-left: 0.2rem;} 
.user-icon{width:1.28rem; height: 1.28rem; border:0.04rem solid #62578e; border-radius: 0.15rem;
	text-align: center; float: left;}
.user-icon img{ max-height: 100%; max-width: 100%;}
.user-words{mwidth: 7.1rem; height: 1.26rem; padding: 0 0 0.2667rem 0.5333rem; float: left;}
.user-words em{font-size: 0.4533rem;}
.words-from-who{ width:7rem; height:0.5rem; text-overflow:ellipsis;overflow: hidden; color: rgba(255,255,255,0.5);font-size: 0.32rem;}
.words-award{color: rgba(255,255,255,0.7); font-size: 0.4533rem; margin-top: 0.2667rem; padding-left: 0.4rem;}
.gift-cont{ margin:0 auto;margin-top:1.0667rem;width:9.1067rem; height: 9.4rem;
	background: url(../images/gift.png) no-repeat;
background-size: cover; position: relative;}

.had-gift{width: 1.7333rem; height: 1.7333rem;background: url(../images/ylq.png) no-repeat;
background-size: cover; position: absolute;right: 4.5867rem; top: 5.4133rem;}
.had-gift-right{right:0}
.button-cont{width: 100%;height:1.2067rem;position: absolute;bottom: 0.4rem; text-align: center;}
.button-lq{width: 5.04rem; height: 1.28rem;background: url(../images/share-button.png) no-repeat;
background-size: contain;margin:0 auto;background-position:center bottom  ;}
.button-lq:active{background: url(../images/share-button-ax.png) no-repeat;
background-size: contain;background-position:center bottom  ;}
.button-download{width: 5.04rem; height:1.2933rem;background: url(../images/button-download.png) no-repeat;
background-size:contain;background-position:center bottom; margin:0 auto;}
.button-download:active{background: url(../images/button-download-ax.png) no-repeat;
background-size: contain; background-position:center bottom ; }
.button-open{width: 5.04rem; height:1.2933rem;background: url(../images/open-app.png) no-repeat;
background-size:contain;background-position:center bottom; margin:0 auto;}
.button-open:active{background: url(../images/open-app-ax.png) no-repeat;
background-size: contain; background-position:center bottom ; }
.notice-login{color: rgba(255,255,255,0.5); font-size: 0.32rem; text-align: center;margin-top: 0.2667rem}
.toast{ width: 100%; height: 1.8rem;background: url(../images/toast.png) no-repeat;
background-size: cover; position: fixed;top: 50%; margin-top: -0.9rem; color: #fff;text-align: center;}
.lq-suc{font-size: 0.48rem;line-height: 1.8rem; }
.old-user{ font-size: 0.3733rem;padding: 0.4rem 0; height: 1.0rem; line-height: 150%;}
@media screen and ( min-width:320px ) and ( max-width:360px ){
.user-words{ padding: 0 0 0.2667rem 0.1rem;}
}






